body{
  
  background-image: url("spikes.png");
  font-family:'Georgia', Times, 'Times New Roman', serif ;

}

*{
  box-sizing: border-box;
}
.header{
  background-color: #ffffff;
  /* width: 100%; */
  height: 100%;
  border: thin #cccccc;
  font-family:'Georgia', Times, 'Times New Roman', serif;
  /* padding-right: 10%; */
  /* padding-left: 10%; */
  padding-top: 0px;
  margin-top: 0px;
}
.name{
  background-color: #4aaaa5;
  color: whitesmoke;
  text-align: center;
  width:400px;
  height: fit-content;
  padding-top: 25px;
  padding-bottom:15px;
  float: left;
  display: inline;
  margin-bottom: 0;
}
.externalLinks{
  color:#90918c;
  font-size: 10pt;
  width: fit-content;
  display: inline;
  float:right;
  padding-top: 80px;
}
.clearFix::after{
  content:"" ;
  display: block;
  clear: both;
}

.aboutMe{
  color: #4aaaa5;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.profilePic{
  float: left;
 height: 200px;
}
.content{
  width: 800px;
  height: 500px;
  background-color: whitesmoke;
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding-right: 10%;
  padding-left: 10%;
  /* margin-right: 15%;
  margin-left: 15%; */
  margin: 0 auto;
  height: fit-content;
}
.footer{
  background-color: #666262;
  border-top:solid 8px #4aaaa5;
  text-align: center;
  padding-bottom: 5px;
  font-size: smaller;
  position: fixed;
  bottom: 0; 
  width:100%;
  margin-left: -10;
}
.container{
  margin: 0 auto;
  width: 1080px;
}

@media screen and (max-width: 640px){
  body{
    font-size: 12px;
  }
  .wrapper{
    max-width: 480px;
  }
  .name{
    width: 150px;
  }
  .externalLinks{
    width: 80px;
    margin-right:750px;
    margin-top: -15px
  }
  .content{
    max-width: 640px;
  }
  .profilePic{
    padding-left: 15px;
  }
  p{
    width: 275px;
    height: fit-content;
    padding-right: 15px;
    padding-left:15px;
  }
}
  